<html>
<head>
    <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="public/bower_components/react/react.js"></script>
    <script src="public/bower_components/react/react-dom.js"></script>

</head>
<body>
    <div id="view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <img src="public/loader.svg" alt="Loading.."/>
                </div>
            </div>
        </div>
    </div>

    <script src="//unpkg.com/babel-core@5.8.38/browser.min.js" ></script>
    <script type="text/babel" src="public/bundle.js">
    </script>
</body>
</html>